.card {
  width: 400px;
  height: 500px;
  border: 1px solid gainsboro;
  font-size: 20px;

}
.card img{
  width: 400px;
  height: 300px;
}
.card .title{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card p{
  font-size: 25px;
}
