.navbar {
  width: 100%;
  height: 8vh;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(252, 220, 225);
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  color: white;
}

.navbar ul li {
  font-size: 25px;
}
